[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=localhost:8003
Environment=DB_HOST=localhost
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
